body {
    background-color: #050505;
}

#page {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: rgba(255,255,255,0.8);
    h1,h2,p {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid grey;
    }
    ._center {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid grey;
    }
}
